html {
  background: url(lamp.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  margin-left: 20px;
}
body {
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 110%;
}
.container, .listContainer, .counter {
    margin-left: 25px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}
.container {
  border: 1px dashed;
}
#title, #url {
  background-color: #CCFFFF;
  border-radius: 4px;
  color: black;
  font-size: 16px;
  height: 40px;
  width: 200px;
  margin-right: 12px;
}
button {
  background-color: #FFFF99;
  height: 40px;
  width: 150px;
}
button:hover {
  cursor: pointer;
}
input .markAsRead {
  width: 20px;
}
.listContainer {
  background-color: #F4F0CB;
  color: black;
  flex-wrap: wrap;
  width: 50%;
  border-radius: 10px;
}
h3 {
  font-size: small;
  padding: 10px;
}
.title, .url, .remove, .markAsRead {
  margin: 10px 10px;
}
.title {
  font-weight: bolder;
}
.url {
  font-style: italic;
}
.counter {
  border: 1px solid magenta;
}
